/* Extra small device */
@media only screen and (max-width: 768px) {
  
    #header-img {
      width: 100%;
      height: 300px;
      filter: blur(1px);
      -webkit-filter: blur(1px);
      opacity: 65%;
    }

    .header-text {
      position: absolute;
      top: 14%;
      text-align: center;
      margin-top: 15px;
      margin-left: 10px;
      margin-right: 10px;
    }

    body {
      line-height: 30px;
      background-color: black;
    }

    section, footer {
      margin-top: 60px;
      margin-left: 15px;
      margin-right: 15px;
    }

      h1, h2, h3, h4, p {
        color: white;
      }

      h3, p {
        text-align: center;
      }

      p {
        font-family: 'Avalon';
        letter-spacing: 1px;
        font-size: 12px;
      }

    h3 {
      font-size: 20px;
      font-family: 'Aladin';
      letter-spacing: 3px;
      font-weight: 600;
      color: #f1ac35;
    }

    .icon-text {
      display: block; 
      text-align: center;
    }

    .icon-text i {
      font-size: 20px; 
      padding-right: 0;
      padding-bottom: 5px;
    }

    .header-text h1 {
      font-family: 'Aladin';
      font-size: 25px; 
      font-weight: 500;
      padding-top: 15px;
      color: #f1ac35;
      letter-spacing: 2px;
      text-align: center;
      margin-top: 10px;
    }

  .header-text p {
      font-size: 10px;
      padding-top: 10px;
      font-family: "Aladin", system-ui;
      letter-spacing: 2px;
      line-height: 20px;
      text-align: center;
  }

  .know-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mission, .vision {
    border: 1px solid #f1ac35;
    box-shadow: 0 2px 2px 0 #f1ac35b8, 0 2px 8px 0 #f1ac3572;
    height: 275px;
    max-width: 85%;
    margin-top: 20px;
    cursor: pointer;
    padding: 20px;
}

  .title {
      color: #f1ac35;
      font-family: 'Avalon';
      src: url('Avalon-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
      letter-spacing: 1px;
      font-size: 18px;
  }

  i {
      color: #f1ac35;
  }

  .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px; 
      height: 50px;
  }

  .footer .row {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }

  .footer .row a {
      text-decoration: none;
      margin: 0 5px;
  }

  .footer .row a i {
      font-size: 20px;
      padding: 5px;
      color: #f1ac35;
  }

  .footer .row a i:hover {
      color: white;
      transition: 0.3s ease;
  }

  header {
      position: relative;
      text-align: center;
  }
  .navbar {
    height: 70px; 
    background-color: rgba(0, 0, 0, 0.600);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    margin-left: auto;
    margin-right: auto; 
  }
  
  .nav-menu a {
    font-family: 'Avalon';
    src: url('Avalon-Book.ttf') format('truetype');
    font-weight: normal;
    color: #f1ac35;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 15px;
  }
  
  #logo {
    width: 75px; 
    height: auto; 
    margin-left: auto;
    margin-right: auto; 
  }
  
  .nav-menu a:hover {
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
  }

  .logo-container{
    margin-top: 50px;
  }

#mlogo-img
{
  margin-top: 20px;
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
}

#altlogo-img
{
  width: 100%;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#logoicon-img
{
  width: 100%;
  height: 100px;
  margin-top: 20px;
}

.justify
{
  text-align: justify;
  padding-top: 20px;
}

.color
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#color1
{
  background-color: #f1ac35;
  border: 1px solid white ;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

#color2
{
  background-color: black;
  border: 1px solid white ;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

#color3
{
  background-color: white;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

#bc
{
  padding-top: 20px;
}

.fonts
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.f1 
{
  font-family: 'Aladin';
  font-size: 18px;
  padding: 10px;
  text-align: start;
  letter-spacing: 2px;
}

.f2
{
  font-family: 'Avalon';
  src: url('Avalon-Book.ttf') format('truetype');
  font-size: 18px;
  padding: 10px;
  text-align: end;
  letter-spacing: 2px;
}

.f3 
{
  font-family: 'Avalon Md Cd';
  src: url('Avalon-MediumCond.ttf') format('truetype');
  font-size: 18px;
  padding: 10px;
  text-align: start;
  letter-spacing: 2px;
}

.f4 
{
  font-family: 'Avalon';
  src: url('Avalon-Bold.ttf') format('truetype');
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  text-align: end;
  letter-spacing: 2px;
}
}

/* Small devices */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #header-img {
    width: 100%;
    height: 450px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    opacity: 65%;
}

.header-text {
    position: absolute;
    top: 16%;
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

body {
    line-height: 30px;
    background-color: black;
}

section, footer {
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
}

h1, h2, h3, h4, p {
    color: white;
}
  
h3, p {
  text-align: center; 
}

p {
  font-family: 'Avalon';
  letter-spacing: 1px;
  font-size: 14px; 
}

h3 {
  font-size: 25px; 
  font-family: 'Aladin';
  letter-spacing: 3px;
  font-weight: 600;
  color: #f1ac35;
}

.icon-text {
  display: block; 
  text-align: center;
}

.icon-text i {
  font-size: 20px;
  padding-right: 0;
  padding-bottom: 5px;
}

.header-text h1 {
  font-family: 'Aladin';
  font-size: 30px; 
  font-weight: 500;
  padding-top: 15px;
  color: #f1ac35;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 10px;
}

.header-text p {
  font-size: 20px;
  padding-top: 10px;
  font-family: "Aladin", system-ui;
  letter-spacing: 2px;
  line-height: 50px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.know-us {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.mission, .vision {
  border: 1px solid #f1ac35;
  box-shadow: 0 2px 2px 0 #f1ac35b8, 0 2px 8px 0 #f1ac3572;
  height: 250px;
  max-width: 45%;
  margin-top: 30px; 
  cursor: pointer;
  padding: 20px;
}
  .title {
    color: #f1ac35;
    font-family: 'Avalon';
    src: url('Avalon-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 20px; 
}
  
    i {
        color: #f1ac35;
    }
  
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px; 
        height: 50px;
    }
  
    .footer .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
  
    .footer .row a {
        text-decoration: none;
        margin: 0 5px;
    }
  
    .footer .row a i {
        font-size: 20px;
        padding: 5px;
        color: #f1ac35;
    }
  
    .footer .row a i:hover {
        color: white;
        transition: 0.3s ease;
    }
  
    header {
        position: relative;
        text-align: center;
    }
    .navbar {
      height: 70px; 
      background-color: rgba(0, 0, 0, 0.600);
      backdrop-filter: blur(5px);
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      position: fixed;
      z-index: 100;
      justify-content: space-between;
    }
    
    
    .navbar {
      height: 60px;
      background-color: rgba(0, 0, 0, 0.600);
      backdrop-filter: blur(5px);
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      position: fixed;
      z-index: 100;
    }
    
    .nav-menu {
      display: flex;
      flex-direction: row;
      align-items: center; 
    }
    
    .nav-menu a {
      font-family: 'Avalon';
      src: url('Avalon-Book.ttf') format('truetype');
      font-weight: normal;
      color: #f1ac35;
      font-size: 15px;
      margin-left: 15px;

    }
    
    #logo {
      width: 115px; 
    }
    
    .nav-menu a:hover {
      color: white;
      text-decoration: none;
      transition: 0.3s ease;
    }

    .logo-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  
  .main, .aside {
    margin-top: 30px;
    padding: 10px;
  }
  
  .main {
    width: 43%;
  }
  
  .aside{
    width: 43%;
  }
  
  #mlogo-img
  {
    margin-top: 20px;
    width: 100%;
  }
  
  #altlogo-img
  {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  #logoicon-img
  {
    width: 400px;
    margin-top: 20px;
  }
  
  .justify
  {
    text-align: justify;
    padding-top: 20px;
  }
  
  .color
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
  }
  
  #color1
  {
    background-color: #f1ac35;
    border: 2px solid white ;
    height: 175px;
    width: 175px;
    border-radius: 50%;
  }
  
  #color2
  {
    background-color: black;
    border: 2px solid white ;
    height: 175px;
    width: 175px;
    border-radius: 50%;
  }
  
  #color3
  {
    background-color: white;
    height: 175px;
    width: 175px;
    border-radius: 50%;
  }
  
  #bc
  {
    padding-top: 20px;
  }
  
  .fonts
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    gap: 20px;
  }
  
  .font1, .font2, .font3, .font4
  {
    width: 45%;
  }
  
  .f1 
  {
    font-family: 'Aladin';
    font-size: 16px;
    padding: 10px;
    text-align: start;
    letter-spacing: 1px;
  }
  
  .f2
  {
    font-family: 'Avalon';
    src: url('Avalon-Book.ttf') format('truetype');
    font-size: 16px;
    padding: 10px;
    text-align: end;
    letter-spacing: 1px;
  }
  
  .f3 
  {
    font-family: 'Avalon Md Cd';
    src: url('Avalon-MediumCond.ttf') format('truetype');
    font-size: 16px;
    padding: 10px;
    text-align: start;
    letter-spacing: 1px;
  }
  
  .f4 
  {
    font-family: 'Avalon';
    src: url('Avalon-Bold.ttf') format('truetype');
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    text-align: end;
    letter-spacing: 1px;
  }
  }

  /* Medium devices */
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    #header-img {
        width: 100%;
        height: 500px;
        filter: blur(3px);
        -webkit-filter: blur(3px);
        opacity: 65%;
    }

    .header-text {
        position: absolute;
        top: 16%;
        text-align: center;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    body {
        line-height: 30px;
        background-color: black;
    }

    section, footer {
        margin-top: 120px;
        margin-left: 25px;
        margin-right: 25px;
    }

    h1, h2, h3, h4, p {
        color: white;
    }

    .card-title {
        color: white;
        font-family: 'Avalon Md Cd';
src: url('Avalon-MediumCond.ttf') format('truetype');
    }

    h3, p {
        text-align: center; 
    }

    p {
        font-family: 'Avalon';
        letter-spacing: 1px;
        font-size: 16px; 
    }

    h3 {
      font-size: 30px; 
      font-family: 'Aladin';
      letter-spacing: 3px;
      font-weight: 600;
      color: #f1ac35;
  }

    .icon-text {
        display: block; 
        text-align: center;
    }

    .icon-text i {
        font-size: 20px;
        padding-right: 0;
        padding-bottom: 5px;
    }

    .header-text h1 {
        font-family: 'Aladin';
        font-size: 40px; 
        font-weight: 500;
        padding-top: 15px;
        color: #f1ac35;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 10px;
    }

    .header-text p {
        font-size: 20px;
        padding-top: 10px;
        font-family: "Aladin", system-ui;
        letter-spacing: 2px;
        line-height: 50px;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .know-us {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .mission, .vision {
        border: 1px solid #f1ac35;
        box-shadow: 0 2px 2px 0 #f1ac35b8, 0 2px 8px 0 #f1ac3572;
        height: 225px;
        max-width: 43%;
        margin-top: 40px; 
        cursor: pointer;
        padding: 20px;
    }

    .title {
        color: #f1ac35;
        font-family: 'Avalon';
        src: url('Avalon-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1px;
        font-size: 23px; 
    }

    i {
        color: #f1ac35;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 50px; 
    }

    .footer .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer .row a {
        text-decoration: none;
        margin: 0 5px; 
    }

    .footer .row a i {
        font-size: 20px; 
        padding: 5px; 
        color: #f1ac35;
    }

    .footer .row a i:hover {
        color: white;
        transition: 0.3s ease;
    }

    header {
        position: relative;
        text-align: center;
    }
    .navbar {
        height: 60px;
        background-color: rgba(0, 0, 0, 0.600);
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        position: fixed;
        z-index: 100;
      }
      
      .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center; 
      }
      
      .nav-menu a {
        font-family: 'Avalon';
        src: url('Avalon-Book.ttf') format('truetype');
        font-weight: normal;
        color: #f1ac35;
        font-size: 18px;
        margin-left: 20px;

      }
      
      #logo {
        width: 125px; 
      }
      
      .nav-menu a:hover {
        color: white;
        text-decoration: none;
        transition: 0.3s ease;
      }

  
.logo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main, .aside {
  margin-top: 40px;
  padding: 10px;
}

.main {
  width: 43%;
}

.aside{
  width: 43%;
}

#mlogo-img
{
  margin-top: 20px;
  width: 100%;
}

#altlogo-img
{
  width: 400px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#logoicon-img
{
  width: 400px;
  margin-top: 20px;
}

.justify
{
  text-align: justify;
  padding-top: 20px;
}

.color
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
}

#color1
{
  background-color: #f1ac35;
  border: 2px solid white ;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#color2
{
  background-color: black;
  border: 2px solid white ;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#color3
{
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#bc
{
  padding-top: 20px;
}

.fonts
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
  gap: 20px;
}

.font1, .font2, .font3, .font4
{
  width: 45%;
}

.f1 
{
  font-family: 'Aladin';
  font-size: 28px;
  padding: 10px;
  text-align: start;
}

.f2
{
  font-family: 'Avalon';
  src: url('Avalon-Book.ttf') format('truetype');
  font-size: 28px;
  padding: 10px;
  text-align: end;
}

.f3 
{
  font-family: 'Avalon Md Cd';
  src: url('Avalon-MediumCond.ttf') format('truetype');
  font-size: 28px;
  padding: 10px;
  text-align: start;
}

.f4 
{
  font-family: 'Avalon';
  src: url('Avalon-Bold.ttf') format('truetype');
  font-weight: bold;
  font-size: 28px;
  padding: 10px;
  text-align: end;
}
}

/* Large devices (large desktops) */
@media only screen and (min-width: 1200px) {

  #header-img {
    width: 100%;
    height: 100%;
}

   #header-img {
          filter: blur(4px);
          -webkit-filter: blur(4px);
          opacity: 50%;
          height: 760px;
      }

      .navbar {
        height: 75px;
        background-color: rgba(0, 0, 0, 0.653);
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        position: fixed;
        z-index: 100;
    }

    .nav-menu a {
        font-family: 'Avalon';
        src: url('Avalon-Book.ttf') format('truetype');
        font-weight: normal;
        color: #f1ac35;
        margin-left: 25px;
        font-size: 20px;
    }

    #logo {
        width: 155px;
    }

    .nav-menu a:hover {
        color: white;
        text-decoration: none;
        transition: 0.3s ease;
    }
     
      .header-text
      {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 80%;
          
  
      }
  
      body 
  {
      line-height: 40px;
      background-color: black;
  }
  
  section, footer
  {
      margin-top: 150px;
      margin-left: 30px;
      margin-right: 30px;
  }
  
  h1, h2, h3, h4, p
  {
      color: white;
  }
  
  h3, p 
  {
      text-align: center;
  }
  
  p
  {
      font-family: 'Avalon';
      letter-spacing: 1px;
      font-size: 18px;
  }
  
  h3 
  {
      font-size: 35px;
      font-family: 'Aladin';
      letter-spacing: 3px;
      font-weight: 600;
      color: #f1ac35;
  }
  
  .icon-text {
      display: flex;
      align-items: center;
  }
  
  .icon-text i 
  {
      font-size: 25px;
      padding-right: 10px;
  }
  
  .header-text h1 
  {
      font-family: 'Aladin';
      font-size: 70px;
      padding-top: 50px;
      color: #f1ac35;
      letter-spacing: 2px;
  }
  
  .header-text p 
  {
      font-size: 30px;
      padding-top: 40px;
      font-family: 'Aladin';
      src: url('Aladin-Regular.ttf') format('truetype');
      letter-spacing: 2px;
      line-height: 50px;
  }
  
  .know-us
  {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 20px;
  }
  
  .mission, .vision
  {
      border: 1px solid #f1ac35;
      box-shadow: 0 4px 4px 0 #f1ac35b8, 0 4px 15px 0 #f1ac3572;
      min-height: 250px;
      max-width: 550px;
      margin-top: 50px;
      cursor: pointer;
      padding: 30px;
  }
  
  .title 
  {
      color: #f1ac35;
      font-family: 'Avalon';
      src: url('Avalon-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
      letter-spacing: 1px;
      font-size: 25px;
  }
  
  i 
  {
      color: #f1ac35;
  }
  
  .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      height: 30px;
  }
  
  .footer .row {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }
  
  .footer .row a {
      text-decoration: none;
      margin: 0 10px;
  }
  
  .footer .row a i {
      font-size: 30px;
      padding: 10px;
      color: #f1ac35;
  }
  
  .footer .row a i:hover
  {
      color: white;
  }
  
  header 
  {
      position: relative;
      text-align: center;
  }
  
  .logo-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    
    .main, .aside {
      margin-top: 50px;
      padding: 10px;
    }
  
    .main {
      width: 43%;
    }
  
    .aside{
      width: 43%;
    }
  
    #mlogo-img
    {
      margin-top: 20px;
      width: 100%;
    }
  
    #altlogo-img
    {
      width: 400px;
      margin-top: 20px;
      margin-bottom: 50px;
    }
  
    #logoicon-img
    {
      width: 400px;
      margin-top: 20px;
    }
  
    .justify
    {
      text-align: justify;
      padding-top: 20px;
    }
  
    .color
    {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      margin-top: 50px;
    }
  
    #color1
    {
      background-color: #f1ac35;
      border: 2px solid white ;
      height: 200px;
      width: 200px;
      border-radius: 50%;
    }
  
    #color2
    {
      background-color: black;
      border: 2px solid white ;
      height: 200px;
      width: 200px;
      border-radius: 50%;
    }
  
    #color3
    {
      background-color: white;
      height: 200px;
      width: 200px;
      border-radius: 50%;
    }
  
    #bc
    {
      padding-top: 20px;
    }
  
    .fonts
    {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-top: 50px;
      gap: 20px;
    }
  
    .font1, .font2, .font3, .font4
    {
      width: 45%;
    }
  
    .f1 
    {
      font-family: 'Aladin';
      font-size: 28px;
      padding: 10px;
      text-align: start;
    }
  
    .f2
    {
      font-family: 'Avalon';
      src: url('Avalon-Book.ttf') format('truetype');
      font-size: 28px;
      padding: 10px;
      text-align: end;
    }
  
    .f3 
    {
      font-family: 'Avalon Md Cd';
      src: url('Avalon-MediumCond.ttf') format('truetype');
      font-size: 28px;
      padding: 10px;
      text-align: start;
    }
  
    .f4 
    {
      font-family: 'Avalon';
      src: url('Avalon-Bold.ttf') format('truetype');
      font-weight: bold;
      font-size: 28px;
      padding: 10px;
      text-align: end;
    }
  
  }


