/* Extra small devices */
@media only screen and (max-width: 768px) {
    #header-img {
        width: 100%;
        height: 300px;
        filter: blur(1px);
        -webkit-filter: blur(1px);
        opacity: 65%;
    }

    .header-text {
        position: absolute;
        top: 35%;
        left: 5%;
        text-align: center;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    body {
        line-height: 30px;
        background-color: black;
    }

    section, footer {
        margin-top: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }

    h1, h2, h3, h4, p {
        color: white;
    }

    h3, p {
        text-align: center;
    }

    p {
        font-family: 'Avalon';
        letter-spacing: 1px;
        font-size: 12px;
    }

    h3 {
        font-size: 20px;
        font-family: 'Aladin';
        letter-spacing: 3px;
        font-weight: 600;
        color: #f1ac35;
    }

    .icon-text {
        display: block; 
        text-align: center;
    }

    .icon-text i {
        font-size: 20px; 
        padding-right: 0;
        padding-bottom: 5px;
    }

    .contact-card {
        transition: transform 0.5s;
    }

    .contact-card:hover {
        transform: scale(1.1); 
    }

    .header-text h1 {
        font-family: 'Aladin';
        font-size: 25px; 
        font-weight: 500;
        padding-top: 15px;
        color: #f1ac35;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 10px;
    }

    .header-text p {
        font-size: 12px;
        padding-top: 10px;
        font-family: "Aladin", system-ui;
        letter-spacing: 2px;
        line-height: 20px;
        text-align: center;
    }

    .title {
        color: #f1ac35;
        font-family: 'Avalon';
        src: url('Avalon-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1px;
        font-size: 18px;
    }

    i {
        color: #f1ac35;
    }

    .getintouch {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .contact-card {
        width: 80%; 
        border: 1px solid #f1ac35;
        margin-top: 20px; 
        box-shadow: 0 2px 2px 0 #f1ac35b8, 0 2px 8px 0 #f1ac3572;
        height: 220px;
        
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px; 
        height: 50px;
    }

    .footer .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer .row a {
        text-decoration: none;
        margin: 0 5px;
    }

    .footer .row a i {
        font-size: 20px;
        padding: 5px;
        color: #f1ac35;
    }

    .footer .row a i:hover {
        color: white;
        transition: 0.3s ease;
    }

    header {
        position: relative;
        text-align: center;
    }
    .navbar {
        height: 70px; 
        background-color: rgba(0, 0, 0, 0.600);
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        position: fixed;
        z-index: 100;
        justify-content: space-between;
      }
      
      .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        margin-left: auto;
        margin-right: auto; 
      }
      
      .nav-menu a {
        font-family: 'Avalon';
        src: url('Avalon-Book.ttf') format('truetype');
        font-weight: normal;
        color: #f1ac35;
        font-size: 12px;
        margin-left: 5px;
        margin-right: 15px;
      }
      
      #logo {
        width: 75px; 
        height: auto; 
        margin-left: auto;
        margin-right: auto; 
      }
      
      .nav-menu a:hover {
        color: white;
        text-decoration: none;
        transition: 0.3s ease;
      }

       
      *, *:before, *:after {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      
      button, input {
          font-family: 'Avalon';
          src: url('Avalon-Bold.ttf') format('truetype');
          font-weight: bold;
        letter-spacing: 1.4px;
      }
      
      .screen-body {
            width: 100%;
            padding: 10px; 
        background: #3e3e3e;
        border-radius: 15px;
        margin-top: 20px;
      }
      
      .screen-body {
        display: flex;
      }
      
      .screen-body-item {
        flex: 1;
        padding: 10px;
      }
      
      .screen-body-item.left {
        display: flex;
        flex-direction: column;
      }
      
      .app-title {
        display: flex;
        flex-direction: column;
        position: relative;
        color: #f1ac35;
        font-size: 20px;
      }
      
      .app-title:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 25px;
        height: 4px;
        background: #f1ac35;
      }
      
      .app-contact {
        margin-top: 160px;
        margin-left: -40px;
      }

      .app-contact > p {
        font-size: 12px;
        color: #f1ac35;
      }
      
      .app-form-group {
        margin-bottom: 15px;
      }
      
      .app-form-group.message {
        margin-top: 40px;
      }
      
      .app-form-group.buttons {
        margin-bottom: 0;
        text-align: right;
      }
      
      .app-form-control {
        width: 100%;
        padding: 10px 0;
        background: none;
        border: none;
        border-bottom: 1px solid #666;
        color: #ddd;
        font-size: 12px;
        outline: none;
        transition: border-color .2s;
      }
      
      .app-form-control::placeholder {
        color: #666;
      }
      
      .app-form-control:focus {
        border-bottom-color: #ddd;
      }
      
      .app-form-button {
        background: none;
        border: none;
        color: #f1ac35;
        font-size: 12px;
        cursor: pointer;
        outline: none;
      }
      
      .app-form-button:hover {
        color: #f1ac35;
      }
      
      .app-contact
      {
          font-family: 'Avalon';
          src: url('Avalon-Book.ttf') format('truetype');
          font-weight: normal;
          font-size: 12px;
          letter-spacing: 1px;
      }
      
      .app-title > span {
          font-family: 'Avalon';
          src: url('Avalon-Bold.ttf') format('truetype');
          font-weight: bold;
          font-size: px;
          letter-spacing: 2px;
      }
      
      
}

/* Small device */
@media only screen and (min-width: 768px) and (max-width: 992px){
    #header-img {
        width: 100%;
        height: 450px;
        filter: blur(2px);
        -webkit-filter: blur(2px);
        opacity: 65%;
    }

    .header-text {
        position: absolute;
        top: 30%;
        left: 15%;
        text-align: center;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    body {
        line-height: 30px;
        background-color: black;
    }

    section, footer {
        margin-top: 90px;
        margin-left: 20px;
        margin-right: 20px;
    }

    h1, h2, h3, h4, p {
        color: white;
    }

    h3, p {
        text-align: center; 
    }

    p {
        font-family: 'Avalon';
        letter-spacing: 1px;
        font-size: 14px; 
    }

    h3 {
        font-size: 25px; 
        font-family: 'Aladin';
        letter-spacing: 3px;
        font-weight: 600;
        color: #f1ac35;
    }

    .icon-text {
        display: block; 
        text-align: center;
    }

    .icon-text i {
        font-size: 20px;
        padding-right: 0;
        padding-bottom: 5px;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card {
        display: flex;
        background-color: black;
        border: 1px solid #f1ac35;
        box-shadow: 0 2px 2px 0 #f1ac35b8, 0 2px 8px 0 #f1ac3572; 
        cursor: pointer;
        margin-top: 30px;
        height: 250px;
        width: 200px;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .card {
        transition: transform 0.5s;
    }

    .card:hover {
        transform: scale(1.1);
    }

    .card-img-top {
        width: 100%;
        height: auto;
    }

    .contact-card {
        transition: transform 0.5s;
    }

    .contact-card:hover {
        transform: scale(1.1); 
    }

    .header-text h1 {
        font-family: 'Aladin';
        font-size: 40px; 
        font-weight: 500;
        padding-top: 15px;
        color: #f1ac35;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 10px;
    }

    .header-text p {
        font-size: 25px;
        padding-top: 10px;
        font-family: "Aladin", system-ui;
        letter-spacing: 2px;
        line-height: 50px;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .know-us {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .mission, .vision {
        border: 1px solid #f1ac35;
        box-shadow: 0 2px 2px 0 #f1ac35b8, 0 2px 8px 0 #f1ac3572;
        height: 250px;
        max-width: 45%;
        margin-top: 30px; 
        cursor: pointer;
        padding: 20px;
    }

    .title {
        color: #f1ac35;
        font-family: 'Avalon';
        src: url('Avalon-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1px;
        font-size: 20px; 
    }

    i {
        color: #f1ac35;
    }

    .getintouch {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }

    .contact-card {
        height: 220px;
        width: 30%; 
        border: 1px solid #f1ac35;
        margin-top: 30px; 
        box-shadow: 0 2px 2px 0 #f1ac35b8, 0 2px 8px 0 #f1ac3572;
        
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 50px; 
    }

    .footer .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer .row a {
        text-decoration: none;
        margin: 0 5px; 
    }

    .footer .row a i {
        font-size: 20px; 
        padding: 5px; 
        color: #f1ac35;
    }

    .footer .row a i:hover {
        color: white;
        transition: 0.3s ease;
    }

    header {
        position: relative;
        text-align: center;
    }

    .navbar {
        height: 60px;
        background-color: rgba(0, 0, 0, 0.600);
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        position: fixed;
        z-index: 100;
      }
      
      .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center; 
      }
      
      .nav-menu a {
        font-family: 'Avalon';
        src: url('Avalon-Book.ttf') format('truetype');
        font-weight: normal;
        color: #f1ac35;
        font-size: 15px;
        margin-left: 15px;

      }
      
      #logo {
        width: 115px; 
      }
      
      .nav-menu a:hover {
        color: white;
        text-decoration: none;
        transition: 0.3s ease;
      }

      
        
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  button, input {
      font-family: 'Avalon';
      src: url('Avalon-Bold.ttf') format('truetype');
      font-weight: bold;
    letter-spacing: 1.4px;
  }
  
  .screen-body {
    background: #3e3e3e;
    border-radius: 15px;
    width: 70%;
    margin: auto;
    margin-top: 30px;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #f1ac35;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 45px;
    height: 4px;
    background: #f1ac35;
  }
  
  .app-contact {
      margin-top: 175px;
      margin-left: -100px;
  }
  
  .app-contact > p {
      font-size: 16px;
      color: #f1ac35;
  
    }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #f1ac35;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #f1ac35;
  }
  
  .app-contact
  {
      font-family: 'Avalon';
      src: url('Avalon-Book.ttf') format('truetype');
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 1px;
  }
  
  .app-title > span {
      font-family: 'Avalon';
      src: url('Avalon-Bold.ttf') format('truetype');
      font-weight: bold;
      font-size: 35px;
      letter-spacing: 5px;
  }
} 

/* Medium device */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
        #header-img {
            width: 100%;
            height: 500px;
            filter: blur(3px);
            -webkit-filter: blur(3px);
            opacity: 65%;
        }
    
        .header-text {
            position: absolute;
            top: 30%;
            left: 13%;
            text-align: center;
            margin-top: 15px;
            margin-left: 10px;
            margin-right: 10px;
        }
    
        body {
            line-height: 30px;
            background-color: black;
        }
    
        section, footer {
            margin-top: 120px;
            margin-left: 20px;
            margin-right: 20px;
        }
    
        h1, h2, h3, h4, p {
            color: white;
        }
    
        h3, p {
            text-align: center; 
        }
    
        p {
            font-family: 'Avalon';
            letter-spacing: 1px;
            font-size: 16px; 
        }
    
        h3 {
            font-size: 30px; 
            font-family: 'Aladin';
            letter-spacing: 3px;
            font-weight: 600;
            color: #f1ac35;
        }
    
        .icon-text {
            display: block; 
            text-align: center;
        }
    
        .icon-text i {
            font-size: 20px;
            padding-right: 0;
            padding-bottom: 5px;
        }
    
        .header-text h1 {
            font-family: 'Aladin';
            font-size: 50px; 
            font-weight: 500;
            padding-top: 15px;
            color: #f1ac35;
            letter-spacing: 2px;
            text-align: center;
            margin-top: 10px;
        }
    
        .header-text p {
            font-size: 30px;
            padding-top: 10px;
            font-family: "Aladin", system-ui;
            letter-spacing: 2px;
            line-height: 50px;
            text-align: center;
            padding-left: 50px;
            padding-right: 50px;
        }
    
        .title {
            color: #f1ac35;
            font-family: 'Avalon';
            src: url('Avalon-Bold.ttf') format('truetype');
            font-weight: bold;
            font-style: normal;
            letter-spacing: 1px;
            font-size: 23px; 
        }
    
        i {
            color: #f1ac35;
        }
    
        .getintouch {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 10px;
        }
    
        .contact-card {
            height: 200px;
            width: 30%; 
            border: 1px solid #f1ac35;
            margin-top: 40px; 
            box-shadow: 0 2px 2px 0 #f1ac35b8, 0 2px 8px 0 #f1ac3572;
            
        }
    
        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            height: 50px; 
        }
    
        .footer .row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    
        .footer .row a {
            text-decoration: none;
            margin: 0 5px; 
        }
    
        .footer .row a i {
            font-size: 20px; 
            padding: 5px; 
            color: #f1ac35;
        }
    
        .footer .row a i:hover {
            color: white;
            transition: 0.3s ease;
        }
    
        header {
            position: relative;
            text-align: center;
        }
        .navbar {
            height: 60px;
            background-color: rgba(0, 0, 0, 0.600);
            backdrop-filter: blur(5px);
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            position: fixed;
            z-index: 100;
          }
          
          .nav-menu {
            display: flex;
            flex-direction: row;
            align-items: center; 
          }
          
          .nav-menu a {
            font-family: 'Avalon';
            src: url('Avalon-Book.ttf') format('truetype');
            font-weight: normal;
            color: #f1ac35;
            font-size: 18px;
            margin-left: 20px;
    
          }
          
          #logo {
            width: 125px; 
          }
          
          .nav-menu a:hover {
            color: white;
            text-decoration: none;
            transition: 0.3s ease;
          }

                  
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  button, input {
      font-family: 'Avalon';
      src: url('Avalon-Bold.ttf') format('truetype');
      font-weight: bold;
    letter-spacing: 1.4px;
  }
  
  .screen-body {
    background: #3e3e3e;
    border-radius: 15px;
    width: 70%;
    margin: auto;
    margin-top: 40px;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #f1ac35;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 45px;
    height: 4px;
    background: #f1ac35;
  }
  
  .app-contact {
      margin-top: 175px;
      margin-left: -100px;
  }
  
  .app-contact > p {
      font-size: 18px;
      color: #f1ac35;
  
    }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #f1ac35;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #f1ac35;
  }
  
  .app-contact
  {
      font-family: 'Avalon';
      src: url('Avalon-Book.ttf') format('truetype');
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 1px;
  }
  
  .app-title > span {
      font-family: 'Avalon';
      src: url('Avalon-Bold.ttf') format('truetype');
      font-weight: bold;
      font-size: 35px;
      letter-spacing: 5px;
  }
    }

/* Large devices */
@media only screen and (min-width: 1200px) {
    #header-img {
        width: 100%;
        height: 100%;
    }

    .header-text
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
    }

    body 
{
    line-height: 40px;
    background-color: black;
}

section, footer
{
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 30px;
}

h1, h2, h3, h4, p
{
    color: white;
}

h3, p 
{
    text-align: center;
}

p
{
    font-family: 'Avalon';
    letter-spacing: 1px;
    font-size: 18px;
}

h3 
{
    font-size: 35px;
    font-family: 'Aladin';
    letter-spacing: 3px;
    font-weight: 600;
    color: #f1ac35;
}

.icon-text {
    display: flex;
    align-items: center;
}

.icon-text i 
{
    font-size: 25px;
    padding-right: 10px;
}

.contact-card
{
    transition: transform 0.5s;
}

.contact-card:hover
{
    transform: scale(1.15);
}

#header-img
{
    filter: blur(4px);
    -webkit-filter: blur(4px);
    opacity: 50%;
    height: 760px;
}

.header-text h1 
{
    font-family: 'Aladin';
    font-size: 70px;
    padding-top: 50px;
    color: #f1ac35;
    letter-spacing: 2px;
}

.header-text p 
{
    font-size: 30px;
    padding-top: 40px;
    font-family: "Aladin", system-ui;
    letter-spacing: 2px;
    line-height: 50px;
}

.title 
{
    color: #f1ac35;
    font-family: 'Avalon';
    src: url('Avalon-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 25px;
}

i 
{
    color: #f1ac35;
}

.getintouch
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.contact-card
{
    width: 440px;
    border: 1px solid black;
    margin-top: 50px;
    border: 1px solid #f1ac35;
    box-shadow: 0 4px 4px 0 #f1ac35b8, 0 4px 15px 0 #f1ac3572;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 30px;
}

.footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer .row a {
    text-decoration: none;
    margin: 0 10px;
}

.footer .row a i {
    font-size: 30px;
    padding: 10px;
    color: #f1ac35;
}

.footer .row a i:hover
{
    color: white;
}

header 
{
    position: relative;
    text-align: center;
}

        
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button, input {
    font-family: 'Avalon';
    src: url('Avalon-Bold.ttf') format('truetype');
    font-weight: bold;
  letter-spacing: 1.4px;
}

.screen-body {
  background: #3e3e3e;
  border-radius: 15px;
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #f1ac35;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 45px;
  height: 4px;
  background: #f1ac35;
}

.app-contact {
    margin-top: 175px;
    margin-left: -250px;
}

.app-contact > p {
    font-size: 18px;
    color: #f1ac35;

  }

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #f1ac35;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #f1ac35;
}

.app-contact
{
    font-family: 'Avalon';
    src: url('Avalon-Book.ttf') format('truetype');
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 1px;
}

.app-title > span {
    font-family: 'Avalon';
    src: url('Avalon-Bold.ttf') format('truetype');
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 5px;
}

.navbar 
{
    height: 75px;
    background-color: rgba(0, 0, 0, 0.600);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.nav-menu a 
{
    font-family: 'Avalon';
src: url('Avalon-Book.ttf') format('truetype');
font-weight: normal;
color: #f1ac35;
margin-left: 25px;
font-size: 20px;
}

#logo
{
    width: 155px;
}

.nav-menu a:hover {
    color: white;
        text-decoration: none;
        transition: 0.3s ease;
}
}