@font-face {
    font-family: 'Aladin';
    src: url('Aladin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avalon';
    src: url('Avalon-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avalon';
    src: url('Avalon-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avalon Md Cd';
    src: url('Avalon-MediumCond.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

